
body{
    background-color:black;
}

header{
    background-color: greenyellow;
    border:2px green dotted;
    border-radius: 50px;
  
    
}

header li{
    text-decoration: none;
    display:inline;
    padding:20px;
    
}
 header a{
     float:right;
     text-decoration: none;
     padding:0px 10px 15px 0px;
     margin-right:10%;
     color:black;
     font-size: 25px;
     
    }

 header a:hover{
color:burlywood;
     transition:1s all;  
 }
 
.questions{
    width:500px;
    height:100px;
    position:absolute;
    top:27%;
    left:25%;
    background-color:white;
    transform: translate(-50px -50px);
    box-sizing: border-box;
    border-radius: 40px;
  
}

.design{
    border:none;
    border-bottom:1px black solid;
    
    position:absolute;
    width:80%;
    top:27%;
    left:10%;
    transform: translate(-50px -50px);
    box-sizing: border-box;
    background-color: transparent;
}

.design input{
    border:none;
    width:80%;
    text-align: left;
    font-size:16px;
    outline: none;
}

button{
    background-color: greenyellow;
    border-radius:20px;
    left:80%;
    top:55%;  
    position:absolute;
    transform: translate(-50px -50px);
    box-sizing: border-box;
    outline: none;
    min-width:10%;
    font-size:16px;
}

button2{
    background-color: red;
    border-radius:20px;
    color:white;
    left:40%;
    top:55%;  
    position:absolute;
    transform: translate(-50px -50px);
    box-sizing: border-box;
    outline: none;
    min-width:17%;
    font-size:16px;
    text-align: center;
}



button3{
    background-color:yellow;
    border-radius:20px;
    color:green;
    left:10%;
    top:55%;  
    position:absolute;
    transform: translate(-50px -50px);
    box-sizing: border-box;
    outline: none;
    min-width:17%;
    font-size:16px;
    text-align: center;
}

p{
    color:white;
    font-weight: lighter;
    font-size: 20px;
    margin-top:150px;
    margin-left:100px;
}

.questions1{
    width:500px;
    height:100px;
    position:absolute;
    top:45%;
    left:0%;
    background-color:white;
    transform: translate(-50px -50px);
    box-sizing: border-box;
    border-radius: 40px;
  margin-top:150px;
}

.design1{
    border:none;
    border-bottom:1px black solid;
    
    position:absolute;
    width:80%;
    top:27%;
    left:10%;
    transform: translate(-50px -50px);
    box-sizing: border-box;
    background-color: transparent;
}

.design1 input{
    border:none;
    width:80%;
    text-align: left;
    font-size:16px;
    outline: none;
}

buttona{
    background-color: greenyellow;
    border-radius:20px;
    left:80%;
    top:55%;  
    position:absolute;
    transform: translate(-50px -50px);
    box-sizing: border-box;
    outline: none;
    min-width:10%;
    font-size:16px;
    text-align: center;
}

buttona2{
    background-color: red;
    border-radius:20px;
    color:white;
    left:40%;
    top:55%;  
    position:absolute;
    transform: translate(-50px -50px);
    box-sizing: border-box;
    outline: none;
    min-width:17%;
    font-size:16px;
    text-align: center;
}



buttona3{
    background-color:yellow;
    border-radius:20px;
    color:green;
    left:10%;
    top:55%;  
    position:absolute;
    transform: translate(-50px -50px);
    box-sizing: border-box;
    outline: none;
    min-width:17%;
    font-size:16px;
    text-align: center;
}
